@import "tailwindcss";
@import "@nuxt/ui";

@theme {        
  --color-orange-light: #ffcf99;
  --color-orange-accent: #ffb07f;
  --color-cream-peach: #fff8f1;

  --color-person-key: #D0F2FF;
}

:root {
  /* tiptap Basic style */
  --purple-light: rgba(88, 5, 255, .05);
  --black: #2e2b29;
  --white: #ffffff;
  --purple: #6a00f5;
  --purple-contrast: #5800cc;
  --gray-1: #3D25140D;
  --gray-3: #3d25141f;
}

@theme container {
    --container-8xl: 90rem;
}

body {
  @apply text-black;
}


@layer base {
  h1 {
      @apply text-4xl font-medium
  }

  h2 {
      @apply text-3xl font-medium
  }

  h3 {
      @apply text-2xl font-medium
  }

  h4 {
      @apply text-xl font-medium
  }

  h5 {
      @apply text-lg font-medium
  }
}

@layer utilities {
  .animate-fade-up {
    animation: fade-up 0.6s ease-out both;
  }

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.personal-heading-highlight {
  @apply mx-auto mb-10 w-fit
         bg-gradient-to-r from-sky-300/90 to-white
         bg-[length:100%_50%] bg-bottom bg-no-repeat
         text-2xl md:text-3xl p-1
         font-bold tracking-widest inline;
}
